body	
{
	background-color: #4d4d4f;
<<<<<<< HEAD
	width: 80%;
	padding-top: 20px;
}

label {
	font-size: 20px;
	width: 550px;
	font-family: sans-serif;
} 

#head-cont {
	display: flex;
	background-color: #909090;
	margin-left: auto;
	border-radius: 15px;
	box-shadow: 15px 15px 15px #000000;
	justify-content: center;
}

.body-cont {
	display: flex;
	border-radius: 15px;
	align-content: space-around;
	margin-left: auto;
	margin-right: auto;
}

.body-cont > div {
	margin: 20px;
	background-color:#909090;
	border-radius: 15px;
	box-shadow: 15px 15px 15px #000000;
	overflow: auto;
}

.left, .right {
	height: 420px;
	width: 120px;
	align-content: center;
	padding: 15px;
}

.left img {
	width: 65px;
	align-content: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
}

.rimg {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 65px;
}

#oeil {
	display: block;
	border-style: solid;
	padding : 0px;
	border-radius: 5px;
	border-width: 5px;
	border-color : red;
}

.midimg img {
	width: 995px;
	height: 565px;
	padding: 10px;
	position: static;
	z-index: 1;
}

.midimg {
	font-size: 15px;
	font-family: sans-serif;
}

.chatbox {
	display: inline-block;
	border-radius: 15px;
	background-color: #aeff97;
	box-shadow: 15px 15px 15px #000000;
	position: absolute;
	width: 480px;
	height: 180px;
	bottom: 300px;
	text-align: left;
	padding-top: 10px;
	padding-inline-start: 25px;
	margin-left: 100px;
	padding-right: 50px;
	left: 20px;
	z-index: 2;
	font-size: 20px;
	letter-spacing: 1.5px;
}

input[type=text] {
	display: inline-block;
	border: 2px solid #ccc;
}

input[type=submit] {
	box-sizing: border-box ;
}

#wall {
	width: 120px;
	height: 80px;
	background: repeat url(resources/brick.jpg);
}

#doft { 
	height: 120px;
	width: 450px;
	padding: 15px;
	padding-right: 700px;
}

#entrez {
	font-size: 37px;
	font-family: sans-serif;
}

#ordi {
	text-shadow: 5px 5px 7px #ed212f;
}

#line {
	font-style: italic;
}

#loupe {
	width: 300px;
	margin-bottom: -165px;
}

#reload {
	width: 20px;
	display: block;
	padding-top: 10px;
}

#close {
	width: 20px;
	padding-top: 90px;
}

#block {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
=======
}

header
{
	background-color: #98989a;
>>>>>>> d7f366e3946dfe34839529a8ed71df82fb166c36
}